{% extends '02_s_ad/00_0_xabarlar.html' %}
{% load static %}
{% block sms %}
<div class="col-12 col-lg-7 col-xl-9">
    <div class="py-2 px-4 border-bottom d-none d-lg-block">
        <div class="d-flex align-items-center py-1">
            <div class="position-relative">
                <img src="{% static 'img/avatars/logo_icon.png'%}" class="rounded-circle me-1" alt="Sharon Lessman" width="40" height="40">
            </div>
            <div class="flex-grow-1 ps-3">
                <strong>Sistema admini</strong>
                <div class="text-muted small"><em>...</em></div>
            </div>
            <div>
                <!--<button class="btn btn-primary btn-lg me-1 px-3"><i class="feather-lg" data-feather="phone"></i></button>
                <button class="btn btn-info btn-lg me-1 px-3 d-none d-md-inline-block"><i class="feather-lg"
                        data-feather="video"></i></button>-->
                <button class="btn btn-light border btn-lg px-3"><i class="feather-lg" data-feather="more-horizontal"></i></button>
            </div>
        </div>
    </div>
    
    <div class="position-relative">
        <div class="chat-messages p-4">
            {% for i in all_elon %}
            <div class="chat-message-left pb-4">
                <div>
                    <img src="{{fq.emblem.url}}" class="rounded-circle me-1" alt="Sharon Lessman" width="40" height="40">
                    <div class="text-muted small text-nowrap mt-2">{{i.vaqt.time}}</div>
                </div>
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ms-3">
                    {{i.vaqt|date:"d.m.Y"}} 
                    <div class="font-weight-bold mb-1">{{fq.nomi}}</div>
                    <h4>{{i.mavzu}}</h4>
                    
                    {% if i.birlik is not None%}
                        <p style="color:blue">Birlik = {{i.birlik.birlik}}//Asosi = {{i.birlik.asos}}// Asosga nisbatan farqi = {{i.birlik.farq}}</p>
                        {% if i.birlik.aktiv is False and i.oqildi is False %}
                            <a href="{% url 'birlkor' i.birlik.id i.id fq.id%}" class="btn mb-1 btn-info">birlikga tuzatish kiritib qabul qilish</a>

                            <a href="{% url 'birltasdiq' i.birlik.id i.id fq.id%}" class="btn mb-1 btn-success"><i class="align-middle fas fa-check"></i> </a>
                            <a href="{% url 'birlbekor' i.birlik.id i.id fq.id%}" class="btn mb-1 btn-danger"><i class="align-middle fas fa-times"></i></a>                        
                        {% endif %}
                    {% endif %}

                    {% if i.resurs is not None%}
                        <p style="color:blue">{{i.resurs.nomi}}({{i.resurs.birlik}})//tshy={{i.resurs.tshy}}//tne={{i.resurs.tne}}//GJ={{i.resurs.gj}}//GKAL={{i.resurs.gkal}}</p>
                        
                        {% if i.resurs.aktiv is False and i.oqildi is False%}
                        <a href="{% url 'reskorish' i.resurs.id i.id fq.id%}" class="btn mb-1 btn-info"{% if i.birlik.aktiv is False%}style=" pointer-events: none; color:black"{% endif %}>resursga tuzatish kiritib qabul qilish</a>                    
                        
                        <a href="{% url 'restasdiq' i.resurs.id i.id fq.id%}" class="btn mb-1 btn-success" {% if i.birlik.aktiv is False%}style=" pointer-events: none; color:black"{% endif %}><i class="align-middle fas fa-check"></i> </a>
                        <a href="{% url 'bekorqilindi' i.resurs.id i.id fq.id%}" class="btn mb-1 btn-danger"{% if i.birlik.aktiv is False%}style=" pointer-events: none; color:black"{% endif %}><i class="align-middle fas fa-times"></i> </a>
                        {% endif %}
                    {% endif %}

                    {% if i.hajm is not None%}
                        <p style="color:blue">{{i.hajm.nomi}} // qiymati = {{i.hajm.qiymati}}</p>
                        
                        {% if i.hajm.checker is not True%}
                        <a href="{% url 'hajmkor' i.hajm.id i.id fq.id%}" class="btn mb-1 btn-info"{% if i.birlik.aktiv is False%}style=" pointer-events: none; color:black"{% endif %}>hajmga tuzatish kiritib qabul qilish</a>                    
                        
                        <a href="{% url 'hajmtasdiq' i.hajm.id i.id fq.id%}" class="btn mb-1 btn-success" {% if i.birlik.aktiv is False%}style=" pointer-events: none; color:black"{% endif %}><i class="align-middle fas fa-check"></i> </a>
                        <a href="{% url 'hajmbekor' i.hajm.id i.id fq.id%}" class="btn mb-1 btn-danger"{% if i.birlik.aktiv is False%}style=" pointer-events: none; color:black"{% endif %}><i class="align-middle fas fa-times"></i> </a>
                        {% endif %}                        
                    {% endif %}

                    {% if i.maqsad is not None%}
                        <p style="color:blue">{{i.hajm.nomi}} // qiymati = {{i.hajm.qiymati}}</p>
                        
                        {% if i.hajm.checker is not True%}
                        <a href="{% url 'mqkor' i.maqsad.id i.id fq.id%}" class="btn mb-1 btn-info"{% if i.birlik.aktiv is False%}style=" pointer-events: none; color:black"{% endif %}>maqsadga tuzatish kiritib qabul qilish</a>                    
                        
                        <a href="{% url 'mqtasdiq' i.maqsad.id i.id fq.id%}" class="btn mb-1 btn-success" {% if i.birlik.aktiv is False%}style=" pointer-events: none; color:black"{% endif %}><i class="align-middle fas fa-check"></i> </a>
                        <a href="{% url 'mqbekor' i.maqsad.id i.id fq.id%}" class="btn mb-1 btn-danger"{% if i.birlik.aktiv is False%}style=" pointer-events: none; color:black"{% endif %}><i class="align-middle fas fa-times"></i> </a>
                        {% endif %}                        
                    {% endif %}

                    {% if i.oqildi is True%}
                    <a href="{% url 'delxabar' i.id fq.id%}" class="btn mb-1 btn-youtube"><i class="align-middle fas fa-trash"></i> </a>              
                    {% endif %}
                </div>                    
                   
                </div>   
                    {% if i.jb is True%}               
                    <div class="chat-message-right pb-4">
                        <div>
                            <img src="{% static 'img/avatars/logo_icon.png'%}" class="rounded-circle me-1" alt="men" width="40" height="40">
                            <div class="text-muted small text-nowrap mt-2">{{i.jbvaqt.time}}</div>
                        </div>
                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 me-3">
                            {{i.vaqt|date:"d.m.Y"}} 
                            <div class="font-weight-bold mb-1">Siz {% for alfq in allfq %}{% if alfq.id is i.ga %}({{alfq.username}}){% endif %}{% endfor %}</div>                            
                            <B>{{i.javob}}</B>
                        </div>
                    </div>
                    {% endif %}
            {% endfor %}

        </div>
    </div>

    <!--<div class="flex-grow-0 py-3 px-4 border-top">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Type your message">
            <button class="btn btn-primary">Send</button>
        </div>
    </div>    -->                
</div>
{% endblock sms %}