{% extends '02_s_ad/00_base_s_ad.html' %}
{% load static %}

{% block title %} {{title}} {% endblock title %}
<!--BAR ACTIVE-->
{% block bar %}active{% endblock bar %}

{% block content %}
<a href="{% url 'addkir' %}" class="btn btn-primary float-end mt-n1"><i class="fas fa-plus"></i> Yangi sahifa</a>
{% csrf_token %} {% include 'partials/_messages.html'%}

<div class="mb-3">
    <h1 class="h3 d-inline align-middle">Kirish bo'limining sahifalari</h1>
</div>

<div class="row">
{% if sah.count %}
{% for v in page_obj %}   
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">            
            <div class="card-header px-4 pt-4">              
                
                <h5 class="card-title mb-0">{{forloop.counter0|add:page_obj.start_index }}</h5>
                <div class="badge bg-success my-2">{{v.update_date|date:"d-m-Y"}}</div>                
            </div>
            <div class="card-body px-4 pt-2">
                <p>{{v.title}}</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-4 pb-4">
                    <div class="text-center">
                        <a href="{% url 'editkir' v.id %}" class="btn btn-primary float-center" id="notyf-show">O'zgartirish</a>
                    </div>
                </li>                
            </ul>
        </div>
    </div>    
    {% endfor %}
    {% endif %}    
    <div class=""> Sahifalar {{page_obj.number}}/{{page_obj.paginator.num_pages}} 
        <ul class="pagination align-right float-right mr-auto">
            {% if page_obj.has_previous %}
            <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">oldinga</a></li>
            {% endif %}
      
            {% if page_obj.has_next %}
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">keyingi</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
            {% endif %}
        </ul>      
    </div>
</div>
{% endblock content %}