{% extends '02_s_ad/00_base_s_ad.html' %}
{% load static %}

{% block title %} {{titleown}} {% endblock title %}
<!--BAR ACTIVE-->
{% block barh2 %}active{% endblock barh2 %}

{% block content %}
<a href="{% url 'addviloyat' %}" class="btn btn-primary float-end mt-n1"><i class="fas fa-plus"></i> Yangi viloyat</a>
{% csrf_token %} {% include 'partials/_messages.html'%}

<div class="mb-3">
    <h1 class="h3 d-inline align-middle">Viloyat</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">            
            <div class="card-body">
                {% if vil.count %}                
                <table id="datatables-column-search-select-inputs" class="table table-striped " style="width:100%">
                    <thead>
                        <tr>
                            <th width="5%">t/r</th>
                            <th>Kodi</th>
                            <th>Viloyat nomi</th>
                            <th>Joylashgan davlat</th>
                            <th width="2%">harakat</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in vil %}
                        <tr>
                            <td> {{forloop.counter}}</td>
                            <td>{{v.viloyat_kodi}}</td>
                            <td>{{v.viloyat_nomi}}</td>
                            <td>{{v.viloyat_davlati}}</td>
                            <td class="table-action text-center">
                                <a href="{% url 'editviloyat' v.id %}"><i class="align-middle me-2 fas fa-fw fa-edit"></i></a>                                
                            </td>                           
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th width="5%">t/r</th>
                            <th>Kodi</th>
                            <th>Viloyat nomi</th>
                            <th>Joylashgan davlat</th>
                        </tr>
                    </tfoot>
                </table>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}