{% extends '02_s_ad/00_base_s_ad.html' %}
{% load static %}

{% block title %} {{titleown}} {% endblock title %}
<!--BAR ACTIVE-->
{% block barh3 %}active{% endblock barh3 %}

{% block content %}
<a href="{% url 'addtuman' %}" class="btn btn-primary float-end mt-n1"><i class="fas fa-plus"></i> Yangi tuman</a>
{% csrf_token %} {% include 'partials/_messages.html'%}

<div class="mb-3">
    <h1 class="h3 d-inline align-middle">{{titleown}}</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">            
            <div class="card-body">
                {% if tum.count %}                
                <table id="datatables-column-search-select-inputs" class="table table-striped " style="width:100%">
                    <thead>
                        <tr>
                            <th width="5%">t/r</th>
                            <th>Kodi</th>
                            <th>Tuman nomi</th>
                            <th>Tuman joylashgan viloyat</th>
                            <th>Tuman joylashgan davlat</th>
                            <th width="2%">harakat</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in tum %}
                        <tr>
                            <td> {{forloop.counter}}</td>
                            <td>{{v.tuman_kodi}}</td>
                            <td>{{v.tuman_nomi}}</td>
                            <td>{{v.tuman_viloyati}}</td>
                            <td>{{v.tuman_davlati}}</td>
                            <td class="table-action text-center">
                                <a href="{% url 'edittuman' v.id %}"><i class="align-middle me-2 fas fa-fw fa-edit"></i></a>                                
                            </td>                           
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th width="5%">t/r</th>
                            <th>Kodi</th>
                            <th>Tuman nomi</th>
                            <th>Tuman joylashgan viloyat</th>
                            <th>Tuman joylashgan davlat</th>
                        </tr>
                    </tfoot>
                </table>
                <a href="{% url 'tuman'%}" class="btn btn-outline-secondary " id="notyf-show" style="width:100%">Filtrni tozalash</a>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}