{% extends '02_s_ad/00_base_s_ad.html' %}
{% load static %}

{% block title %} {{titleown}} {% endblock title %}
<!--BAR ACTIVE-->
{% block bark1 %}active{% endblock bark1 %}

{% block content %}
<a href="{% url 'addiftums' %}" class="btn btn-primary float-end mt-n1"><i class="fas fa-plus"></i> Yangi IFTUM</a>
{% csrf_token %} {% include 'partials/_messages.html'%}

<div class="mb-3">
    <h1 class="h3 d-inline align-middle">IFTUM kodi (ру: ОКЕД)</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">            
            <div class="card-body">
                {% if iftum.count %} 
                <table id="datatables-column-search-select-inputs" class="table table-striped " style="width:100%">
                    <thead>
                        <tr>
                            <th width="2%">t/r</th> 
                            <th width="2%">Bo'lim</th>
                            <th width="2%"> Bob</th>
                            <th width="2%">Guruh</th>
                            <th width="2%">Sinf</th>
                            <th width="2%">Tartib</th>
                            <th class="text-center">Nomlanishi</th>
                            <th width="2%">harakat</th> 
                        </tr>
                        </thead>
                        <tbody>
                    {% for v in iftum %}
                    <tr>
                        <td> {{forloop.counter}}</td>
                        <td>{{v.bolim}}</td>
                        <td>{{v.bob}}</td>
                        <td>{{v.guruh}}</td>
                        <td>{{v.sinf}}</td>
                        <td>{{v.tartib}}</td>
                        <td class="text-center">{{v.nomi}}</td> 
                        <td class="table-action text-center">
                            <a href="{% url 'editiftums' v.id %}"><i class="align-middle me-2 fas fa-fw fa-edit"></i></a> 
                        </td> 
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                    <th width="2%">t/r</th> 
                    <th width="2%">Bo'lim</th>
                    <th width="2%"> Bob</th>
                    <th width="2%">Guruh</th>
                    <th width="2%">Sinf</th>
                    <th width="2%">Tartib</th>
                    <th class="text-center">Nomlanishi</th>
                    </tr>
                    </tfoot>
                    </table>
                {% endif %} 
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}