{% extends '03_foydalanuvchi/00_base.html' %}
{% load static %}
<button class="btn btn-secondary" type="button">Go!</button>
{% block title %}{{titleown}}{% endblock title %}
{% block bar %}active{% endblock bar %}

{% block content %}
{% csrf_token %}
<div class="col-auto d-none d-sm-block">	
	<div class="row mb-3">
		{% for v in hammasi %}
			<div class="col-sm-1">		
				<img alt="EMBLEMA" src="{{v.emblem.url}}" class=" img-responsive mt-2" width="65" height="65" />
			</div>		
			<div class="col-sm-11">		
				<div class="col-sm-12" style="color:#{{rang}};"><strong>{% for i in v.nomi %}--{% endfor %}</strong></div>
				<div class="col-sm-12"><h1><strong>{{v.nomi}}</strong></h1></div>				 
				<div class="col-sm-12">{{v.about}}</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-xl-4" >
		<div class="card" style="background: rgb(0,0,0);
		background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,54,255,0.6264705711386117) 100%);">
			<div class="card-body text-center">
			<a class="" href="#"  width="100%" style="color:white"><i class="align-middle" data-feather="settings"></i>Sozlamalar</a>	
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-4" >
		<div class="card" style=" background: rgb(0,0,0);
		background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,54,255,0.6264705711386117) 100%);">
			<div class="card-body text-center">
			<a class="" href="{% url 'davr' %}"  width="100%" style="color:white"><i class="align-middle" data-feather="edit"></i>Ma'lumotlarni kiritish</a>	
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-4" >
		<div class="card" style="background: rgb(0,0,0);
		background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,54,255,0.6264705711386117) 100%);">
			<div class="card-body text-center">
			<a class="" href="{% url 'hisobot' %}"  width="100%" style="color:white"><i class="align-middle" data-feather="sliders"></i>Hisobotlar</a>	
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center" >
	<div class="col-sm-6 col-xl-2">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">Ish holati</h5>
					</div>
					<div class="col-auto">
						<div class="stat text-primary" style="background:#{{rang}};">
							<i class="align-middle" data-feather="activity"></i>
						</div>
					</div>
				</div>
				<h1 class="mt-1 mb-3"><B>70</B> <sup style="color:green">%</sup></h1>				
			</div>
		</div>
	</div>	
	{% for k, v in res.items %}
	<div class="col-sm-6 col-xl-2">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">{{k}}</h5>
					</div>
					<div class="col-auto">
						<div class="stat text-primary">
							<i class="align-middle" data-feather="{{v.1}}"></i>
						</div>
					</div>
				</div>
				<h1 class="mt-1 mb-3"><B>{{full_ist}}</B> <sup style="color:green">{{v.0}} %</sup></h1>
				<!--<div class="mb-0">
					<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 4.65% </span>
					<span class="text-muted">Oldingi yilga nisbatan</span>
				</div>-->
			</div>
		</div>
	</div>
	{% endfor %}	
<!--Amalga oshirilishi rejalashtirilayotgan TTT-->
<div class="col-sm-6 col-xl-12" >
	<div class="col-auto d-none d-sm-block">	
		<div class="row mb-3">			
				<div class="col-sm-12" style="text-align:center">							
					<div class="col-sm-12" style="background: #002775;
					background: linear-gradient(to top right, #002775 0%, #96A4FF 27%, #000D63 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;"><h3><B>Taklif etilayotgan tashkiliy texnik tadbirlar</B></h3></div>				 					
				</div>
		</div>
	</div>
</div>
{% for v in page_obj %}   
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background: rgb(245,255,0);
		background: linear-gradient(41deg, rgba(245,255,0,0.4318102240896359) 0%, rgba(255,0,0,0.2637429971988795) 100%);">            
            <div class="card-header px-4 pt-4"> 
                <h5 class="card-title mb-0" style="background: #002775;
				background: linear-gradient(to top right, #002775 0%, #96A4FF 27%, #000D63 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;">{{v.resurs.nomi}}ni tejash</h5>
                <div class="badge bg-success my-2">Moslik: {{v.izoh}} %</div>                
            </div>
            <div class="card-body px-4 pt-2">
				<div style="background: #00128A;
				background: linear-gradient(to top left, #00128A 0%, #147C80 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;"></div>
				<p><I><B>Yechim:</B></I> {{v.ish}} orqali {{v.resurs.nomi}}ni <B><U>{{v.tejalgan}} {{v.resurs.birlik}}/yil</U></B> gacha tejashingiz mumkin</p>
				<p>Ushbu tadbirni bajarish orqali foydalanuvchilarning <B>100 %</B>i muvafaqqiyatga erishdi</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-4 pb-4">
                    <div class="text-center">
                        <a href="#" class="btn btn-outline-success float-center" id="notyf-show">Rejaga qo'shish</a>
                    </div>
                </li>                
            </ul>
        </div>
    </div>    
    {% endfor %}   
    <div class=""> Sahifalar {{page_obj.number}}/{{page_obj.paginator.num_pages}} 
        <ul class="pagination align-right float-right mr-auto">
            {% if page_obj.has_previous %}
            <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">oldinga</a></li>
            {% endif %}
      
            {% if page_obj.has_next %}
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">keyingi</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
            {% endif %}
        </ul>      
    </div>

	<div class="col-sm-12 col-xl-12">
		<div class="card">
			<div class="card-body">
				
				<div class="row">
                    <div class="card-body">
                        <div class="chart w-100">
                            <div id="apexcharts-mixed"></div>
                        </div>
                    </div>
                </div>			
			</div>
		</div>
	</div>
	<!--TTT tamom-->				
</div>

{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Mixed chart
        
        var chart = new ApexCharts(
            document.querySelector("#apexcharts-mixed"), {
                chart: {
                    height: 350,
                    type: "line",
                    stacked: false,
                },
                stroke: {
                    width: [0, 2, 5],
                    curve: "smooth"
                },
                plotOptions: {
                    bar: {
                        columnWidth: "50%"
                    }
                },

                series: [
                {
                name: "Energiya resurs/mahsulot ishlab chiqarish",
                type: "column",
                data: [{% for k,v in obj_ich.items %} '{{v}}', {% endfor %}]
                }, {
                name: "Energiya resurs iste`mol qilish",
                type: "area",
                data: [{% for k,v in obj_ist.items %} '{{v}}', {% endfor %}]
                }, {
                name: "Energiya resurs/mahsulot uzatish/sotish",
                type: "line",
                data: [{% for k,v in obj_uzat.items %} '{{v}}', {% endfor %}]
                }
            
                ],

                fill: {
                    opacity: [0.85, 0.25, 1],
                    gradient: {
                        inverseColors: false,
                        shade: "light",
                        type: "vertical",
                        opacityFrom: 0.85,
                        opacityTo: 0.55,
                        stops: [0, 100, 100, 100]
                    }
                },
                labels: [{% for k,v in obj_ist.items %} '{{k}}', {% endfor %}
                ],
                markers: {
                    size: 0
                },
                xaxis: {
                    type: "datetime"
                },
                yaxis: {
                    title: {
                        text: "Mln.so'm",
                    },
                    min: 0
                },
                tooltip: {
                    shared: true,
                    intersect: false,
                    y: {
                        formatter: function(y) {
                            if (typeof y !== "undefined") {
                                return y.toFixed(0) + " mln.so`m";
                            }
                            return y;
                        }
                    }
                }
            }
        );
        chart.render();
    });
</script>
		
{% endblock scripts %}