{% extends '03_foydalanuvchi/00_base.html' %}
{% load static %}
<button class="btn btn-secondary" type="button">Go!</button>
{% block title %}{{titleown}}{% endblock title %}
{% block bar %}active{% endblock bar %}

{% block content %}
{% csrf_token %}
<div class="col-auto d-none d-sm-block">	
	<div class="row mb-3">
		{% for v in hammasi %}
			<div class="col-sm-1">		
				<img alt="EMBLEMA" src="{{v.emblem.url}}" class=" img-responsive mt-2" width="65" height="65" />
			</div>		
			<div class="col-sm-11">		
				<div class="col-sm-12" style="color:blue">Assalomu aleykum! {{obj}}</div>
				<div class="col-sm-12"><h1><strong>{{v.nomi}}</strong></h1></div>				 
				<div class="col-sm-12">{{v.about}}</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-xl-4" >
		<div class="card" style="background: rgb(0,0,0);
		background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,54,255,0.6264705711386117) 100%);">
			<div class="card-body text-center">
			<a class="" href="{% url 'asosiyset' '1' %}"  width="100%" style="color:white"><i class="align-middle" data-feather="settings"></i>Sozlamalar</a>	
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-4" >
		<div class="card" style=" background: rgb(0,0,0);
		background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,54,255,0.6264705711386117) 100%);">
			<div class="card-body text-center">
			<a class="" href="{% url 'davr' %}"  width="100%" style="color:white"><i class="align-middle" data-feather="edit"></i>Ma'lumotlarni kiritish</a>	
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-4" >
		<div class="card" style="background: rgb(0,0,0);
		background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,54,255,0.6264705711386117) 100%);">
			<div class="card-body text-center">
			<a class="" href="{% url 'hisobot' %}"  width="100%" style="color:white"><i class="align-middle" data-feather="sliders"></i>Hisobotlar</a>	
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">Topshiriqlarning bajarilganligi</h5>
					</div>

					<div class="col-auto">
						<div class="stat text-primary">
							<i class="align-middle" data-feather="activity"></i>
						</div>
					</div>
				</div>
				<h1 class="mt-1 mb-3"><B>100</B> <sup style="color:green">%</sup></h1>				
			</div>
		</div>
	</div>
	
	<div class="col-sm-6 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">Energiya iste'moli</h5>
					</div>

					<div class="col-auto">
						<div class="stat text-primary">
							<i class="align-middle" data-feather="arrow-down-right"></i>
						</div>
					</div>
				</div>
				<h1 class="mt-1 mb-3"><B>{{full_ist}}</B> <sup style="color:green">mln.so'm</sup></h1>
				<!--<div class="mb-0">
					<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 4.65% </span>
					<span class="text-muted">Oldingi yilga nisbatan</span>
				</div>-->
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">Ishlab chiqarish/servis</h5>
					</div>

					<div class="col-auto">
						<div class="stat text-primary">
							<i class="align-middle" data-feather="arrow-up-right"></i>
						</div>
					</div>
				</div>
				<h1 class="mt-1 mb-3"><B>{{full_ich}}</B><sup style="color:green">mln.so'm</sup></h1>
				<!--<div class="mb-0">
					<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 4.65% </span>
					<span class="text-muted">Oldingi yilga nisbatan</span>
				</div>-->
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-xl-12">
		<div class="card">
			<div class="card-body">
				
				<div class="row">
                    <div class="card-body">
                        <div class="chart w-100">
                            <div id="apexcharts-mixed"></div>
                        </div>
                    </div>
                </div> 
				
				
			</div>
		</div>
	</div>
	
</div>

{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Mixed chart
        
        var chart = new ApexCharts(
            document.querySelector("#apexcharts-mixed"), {
                chart: {
                    height: 350,
                    type: "line",
                    stacked: false,
                },
                stroke: {
                    width: [0, 2, 5],
                    curve: "smooth"
                },
                plotOptions: {
                    bar: {
                        columnWidth: "50%"
                    }
                },

                series: [
                {
                name: "Energiya resurs/mahsulot ishlab chiqarish",
                type: "column",
                data: [{% for k,v in obj_ich.items %} '{{v}}', {% endfor %}]
                }, {
                name: "Energiya resurs iste`mol qilish",
                type: "area",
                data: [{% for k,v in obj_ist.items %} '{{v}}', {% endfor %}]
                }, {
                name: "Energiya resurs/mahsulot uzatish/sotish",
                type: "line",
                data: [{% for k,v in obj_uzat.items %} '{{v}}', {% endfor %}]
                }
            
                ],

                fill: {
                    opacity: [0.85, 0.25, 1],
                    gradient: {
                        inverseColors: false,
                        shade: "light",
                        type: "vertical",
                        opacityFrom: 0.85,
                        opacityTo: 0.55,
                        stops: [0, 100, 100, 100]
                    }
                },
                labels: ["01/01/2003", "02/01/2003", "03/01/2003",
                ],
                markers: {
                    size: 0
                },
                xaxis: {
                    type: "datetime"
                },
                yaxis: {
                    title: {
                        text: "Mln.so'm",
                    },
                    min: 0
                },
                tooltip: {
                    shared: true,
                    intersect: false,
                    y: {
                        formatter: function(y) {
                            if (typeof y !== "undefined") {
                                return y.toFixed(0) + " mln.so`m";
                            }
                            return y;
                        }
                    }
                }
            }
        );
        chart.render();
    });
</script>
		
{% endblock scripts %}