{% extends '03_foydalanuvchi/00_base.html' %}
{% block title %} {{titleown}} {% endblock title %}

{% block head %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/sunburst.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock head %}

{% block content %}
{% csrf_token %}
<h1 class="h3 mb-3">Yangi davr uchun me'yorlash</h1>
<div class="mb-3">
    <h1 class="h3 d-inline align-middle">{{titleown}} {{res_for_add_show}}</h1>
</div>

<div class="row">    
    <div class="col-6">
        <div class="card">            
            <div class="card-body">
                
                <button class="btn btn-primary float-end my-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
				aria-controls="offcanvasWithBothOptions"> <i class="fas fa-plus"></i> Energiya resurs/mahsulot qo'shish</a></button>
                <table class="table table-striped " style="width:100%">
                    <thead>
                        <tr>
                            <th>T/r</th>                            
                            <th class="d-none d-md-table-cell">Energiya resurs/mahsulot</th>
                            <th class="d-none d-md-table-cell"></th>
                        </tr>
                        </thead>
                        <tbody>
                    {% for v in his_res%}
                        <tr>
                            <td> {{forloop.counter}}</td>
                            <td class="d-none d-md-table-cell">{{v.resurs.nomi}}</td>
                            <td class="d-none d-md-table-cell"><a href="{% url 'delhis' v.id %}"><i class="align-middle me-1" data-feather="trash-2"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                   
                    </table>
            <!-- *****************************offcanvas boshlandi*******************************************************************-->
			<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel" >
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-center" id="offcanvasWithBothOptionsLabel" style="color: blue">{{titleown}} uchun resursni tanlang va qabul qilishni bosing!</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form action="{% url 'addichresforhis' %}" method="post">
                    {% csrf_token %}
                    <div class="row">                        
                        <div class="mb-3 col-md-12">
                            <figure class="highcharts-figure">
                                <div id="container"></div>
                                </p>
                            </figure>
                            <!--<label class="form-label" for="">Resurs nomi</label>
                            <select class="form-select flex-grow-1"                                
                            name="resurs_id">                                    
                                {% for k, v in res_show.items%}
                                <option value ="{{k}}">{{v}}</option> 									
                                {% endfor %}
                            </select>-->																				
                        </div>
                        <div class="mb-3 col-md-12">		
                            {{sotform.as_table}}
                        </div>
                        <input type="number" name="sahifanomi" value="{{pageid}}" hidden/>
                        
                    </div>
                    <button type="submit" class="btn btn-primary float-end" id="notyf-show">Qabul qilish</button>                    
                </form>
            </div>
        </div>
        </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">         
            <form action="{% url 'addhisobot' %}" method="post">
                {% csrf_token %}   
            <div class="card-body">                                             
                <div class="row">
                    <h4 style="color:blue"><B>Balans qilish davrni tanlang</B></h4>   
                    <div class="col-12 col-xl-12">
                        <div class="mb-3">
                            <label class="form-label">Davrni tanlang</label>
                            <input type="text" name="oraliq" class="form-control flatpickr-range" placeholder="Davrni tanlang..." />
                        </div>                        
                    </div>
                    
                    <a href="{% url 'resultbalans' %}" class="btn btn-primary">Hisobot tayyorlash</a> 
                    <!--<button type="submit" class="btn btn-primary">Hisobot tayyorlash</button> -->
                </div>
            </div>
            
            </form>
        </div>
    </div>
    

</div>

{% endblock content %}

{% block scripts %}
<script src="js/balance.js"></script>

<script>
    // Flatpickr
    flatpickr(".flatpickr-minimum");
    flatpickr(".flatpickr-datetime", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });
    flatpickr(".flatpickr-human", {
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
    });
    flatpickr(".flatpickr-multiple", {
        mode: "multiple",
        dateFormat: "Y-m-d"
    });
    flatpickr(".flatpickr-range", {
        mode: "range",
        dateFormat: "Y-m-d"
    });
    flatpickr(".flatpickr-time", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
    });
</script>
{% endblock scripts %}