
<div class="card-header">
    <h5 class="card-title mb-0">Sozlamalar menyusi</h5>
</div>
<a class="list-group-item list-group-item-action {{active0}}" href="{% url 'asosiyset' %}">
    Asosiy
</a>

{% if mich is 1 %}
<a class="list-group-item list-group-item-action {{active1}}" href="{% url 'mich' %}">
    Ishlab chiqarish
</a>
{% endif %}
<a class="list-group-item list-group-item-action {{active2}}" href="{% url 'ist' %}" >
    Iste'mol qilish
</a>
{% if uzat is 1 %}	
<a class="list-group-item list-group-item-action {{active3}}" href="{% url 'sot' %}" >
    Uzatish/sotish
</a>
{% endif %}

<div class="card-header">
    <h5 class="card-title mb-0">Qurilmalar</h5>
</div>

<a style="background: #FF0000;
background: linear-gradient(to left, #FF0000 0%, #ffff00 50%, #FF0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;"
    class="list-group-item list-group-item-action {{active4}}" href="{% url 'qtemqurilma' %}" >
    QTEM qurilmalari
</a>