{% load static %}
<div class="card-header">
    <h5 class="card-title mb-0">Sozlamalar menyusi</h5>
</div>
<a class="list-group-item list-group-item-action {{active0}}" href="{% url 'asosiyset' %}">
    Asosiy
</a>

{% if mich is 1 %}
<a class="list-group-item list-group-item-action {{active1}}" href="{% url 'mich' %}">
    F1(Kirish)
</a>
{% endif %}
<a class="list-group-item list-group-item-action {{active2}}" href="{% url 'ist' %}" >
    F2(Iste'mol qilish)
</a>
{% if uzat is 1 %}	
<a class="list-group-item list-group-item-action {{active3}}" href="{% url 'sot' %}" >
    F3(Chiqish)
</a>
{% endif %}

<div class="card-header">
    <h5 class="card-title mb-0">Bo'limlar</h5>
</div>
{% for i in sexlar %}
<a style="background: #FF0000;
background: linear-gradient(to left, #FF0000 0%, #ffff00 50%, #FF0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;"
    class="list-group-item list-group-item-action {{active4}}" href="{% url 'sexlar' i.id 1%}" >
    {{i.nomi}}
</a>
{% endfor %}