@media (max-width: 1480px) {
    .pages-header{
        height: 155px;
        padding: 0 30px;
    }
    .pages-title h2 {
        font-size: 36px;
    }
    .pages-main{
        padding: 20px 30px;
    }
    .sidebar {
        width: 285px;
        padding: 15px 0;
    }
    .main {
        padding: 0 0 0 285px;
    }
    .sidebar-logo > a img {
        width: 80px;
        margin-bottom: 10px;
    }
    .sidebar-logo > a span {
        font-size: 15px;
        line-height: 19px;
        padding: 0 15px;
    }
    .sidebar-menu {
        padding: 0 15px;
        margin: 15px 0;
    }
    .sidebar-logo {
        padding-bottom: 15px;
    }
    .sidebar-menu ul li a {
        font-size: 18px;
        line-height: 23px;
    }
    .sidebar-lang {
        padding: 0 15px;
    }
    .sidebar-lang a {
        margin: 0 7.5px;
        font-size: 19px;
    }    
    .sidebar-copy {
        bottom: 20px;
    }
    .pages-main .content {
        font-size: 16px;
    }
}