{% load static %}
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
					<span class="sidebar-brand-text align-middle">
						EIS sistemasi
						<sup><small class="badge bg-primary text-uppercase">yangi</small></sup>
					</span>
					<svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5"
						stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
						<path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
						<path d="M20 12L12 16L4 12"></path>
						<path d="M20 16L12 20L4 16"></path>
					</svg>
				</a>
				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Sahifalar
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="{% url 'kirish' %}">
							<i class="align-middle" data-feather="home"></i> 
                            <span class="align-middle">Asosiy sahifa</span>
						</a>
					</li>
					
					<li class="sidebar-item">
						<a class="sidebar-link" href="pages-profile.html">
							<i class="align-middle" data-feather="user"></i> 
                            <span class="align-middle">Profile</span>
						</a>
					</li>
					
				</ul>
                <!--
				<div class="sidebar-cta">
					<div class="sidebar-cta-content">
						<strong class="d-inline-block mb-2">NurbekKurbonov</strong>
						<div class="mb-3 text-sm">
							Barcha huquqlar himoyalangan
						</div>

						<div class="d-grid">
							<a href="#" class="btn btn-outline-primary" target="_blank">Download</a>
						</div>
					</div>
				</div>-->
			</div>
		</nav>