{% extends '02_s_ad/Monitoring/00_base_monitoring.html' %}
{% load static %}
{% csrf_token %}
{% block title %} {{titleown}} {% endblock title %}

{% block content %}
<div class="mb-3">
    <h1 class="h3 d-inline align-middle">{{titleown}}</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">            
            <div class="card-body">
        
                <table id="datatables-column-search-select-inputs" class="table table-striped " style="width:100%">
                    <thead>
                        <tr>
                            <th>T/r</th>                            
                            <th>Ma'lumot berilgan davr</th>                            
                            <th>Hisobot shakllantirilgan sana</th> 
                            
                            <th width="2%"><i class="align-middle me-2 fas fa-fw fa-book-open"></i></th> 
                        </tr>
                        </thead>
                        <tbody>
                    {% for v in his%}
                    <tr>
                        <td> {{forloop.counter}}</td>
                        <td>{{v.title}}</td>     
                        <td>{{v.vaqt|date:"d-m-Y"}}</td>  
                        <td class="table-action text-center">
                            <a href="{%url 'hisobot_check_monitoring' v.id id%}"><i class="align-middle me-2 fas fa-fw fa-clipboard-check"></i></a> 
                        </td> 
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>t/r</th> 
                        <th>Resurs nomi</th>                            
                        <th>Resurs o`lchanadigan birlik</th> 
                    </tr>
                    </tfoot>
                    </table>
               
                <a href="{% url 'davr'%}" class="btn btn-outline-secondary " id="notyf-show" style="width:100%">Filtrni tozalash</a>

            </div>
        </div>
    </div>
</div>
{% endblock content %}