{% extends '02_s_ad/00_base_s_ad.html' %}

{% block title %} {{titleown}} {% endblock title %}

{% block content %}

<div class="mb-3">
    <h1 class="h3 d-inline align-middle">Tashkiliy texnik tadbirlar qo'shish</h1>
    <a href="{% url 'davlat' %}" class="btn btn-outline-warning float-end">Bekor qilish</a>
</div>

<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card">            
            <div class="card-body">
                <form action="{% url 'addtadbir' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label class="form-label">Tashkiliy texnik tadbirlar kodi</label>
                            <input type="number"
                                    class="form-control" 
                                    autofocus required="true"
                                    name="tadbir_kodi"
                                    placeholder="Masalan: 1"
                                    value = {{values.davlat_kodi}}>
                        </div>
                        <div class="mb-3 col-6">
                            <label class="form-label">Tashkiliy texnik tadbirlar nomi</label>
                            <input type="text"
                                    class="form-control" 
                                    autofocus required="true"
                                    name="tadbir_nomi"
                                    placeholder="#"
                                    value = {{values.davlat_nomi}}>
                        </div>    
                    </div>                
                    <button type="submit" class="btn btn-primary float-end" id="notyf-show">Qabul qilish</button>                    
                </form>
            </div>
        </div>
    </div>  
    

    
</div>

{% endblock content %}