{% extends 'tarjimon/00_base.html' %}
{% load static %}
<button class="btn btn-secondary" type="button">Go!</button>
{% block title %}{{titleown}}{% endblock title %}
{% block bar %}active{% endblock bar %}

{% block content %}
{% csrf_token %}

<div class="col-auto d-none d-sm-block">	
	<div class="row mb-3">
		
			<div class="col-sm-1">		
				<img alt="EMBLEMA" src="{% static 'img/emblem/login_emb.jpg' %}" class=" img-responsive mt-2" width="65" height="65" />
			</div>
			
            <div class="col-sm-11">				
				<div class="col-sm-12"><h1><strong>TARJIMON BOSH SAHIFASI</strong></h1></div>	
                <div class="col-sm-12"> <audio controls>
                    <source autoplay src="{{ttc_xabar}}" type="audio/ogg">                    
                    Sizning brauzeringiz audioni ochmaydi! Boshqa brauzerda urinib ko'ring!
                  </audio> </div>
			</div>
		
	</div>
</div>


<div class="row justify-content-center" >
    
	
    {% for i in tillar %}
	<div class="col-sm-6 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">{{i.nomi}}</h5>
					</div>
					<div class="col-auto" style="color: rgb(0,100,250)">
                        {{i.vaqt|date:"d.m.Y"}}				
					</div>
				</div>
				<h1 class="mt-1 mb-3" style="color: rgb(100,50,250)"><B>{{i.qiymat}}</B></h1>
				<div class="mb-0">
					<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i><img src="{{i.bayroq.url}}" width="60" height="40" alt="logo"></span>
					<span class="text-muted">{%for j in i.tarjimonlar.all %} {{j.first_name}} {{j.last_name}}, {% endfor %}</span>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
			
</div>


{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Mixed chart
        
        var chart = new ApexCharts(
            document.querySelector("#apexcharts-mixed"), {
                chart: {
                    height: 350,
                    type: "line",
                    stacked: false,
                },
                stroke: {
                    width: [0, 2, 5],
                    curve: "smooth"
                },
                plotOptions: {
                    bar: {
                        columnWidth: "50%"
                    }
                },

                series: [
                {
                name: "Energiya resurs/mahsulot ishlab chiqarish",
                type: "column",
                data: [{% for k,v in obj_ich.items %} '{{v}}', {% endfor %}]
                }, {
                name: "Energiya resurs iste`mol qilish",
                type: "area",
                data: [{% for k,v in obj_ist.items %} '{{v}}', {% endfor %}]
                }, {
                name: "Energiya resurs/mahsulot uzatish/sotish",
                type: "line",
                data: [{% for k,v in obj_uzat.items %} '{{v}}', {% endfor %}]
                }
            
                ],

                fill: {
                    opacity: [0.85, 0.25, 1],
                    gradient: {
                        inverseColors: false,
                        shade: "light",
                        type: "vertical",
                        opacityFrom: 0.85,
                        opacityTo: 0.55,
                        stops: [0, 100, 100, 100]
                    }
                },
                labels: [{% for k,v in obj_ist.items %} '{{k}}', {% endfor %}
                ],
                markers: {
                    size: 0
                },
                xaxis: {
                    type: "datetime"
                },
                yaxis: {
                    title: {
                        text: "Mln.so'm",
                    },
                    min: 0
                },
                tooltip: {
                    shared: true,
                    intersect: false,
                    y: {
                        formatter: function(y) {
                            if (typeof y !== "undefined") {
                                return y.toFixed(0) + " mln.so`m";
                            }
                            return y;
                        }
                    }
                }
            }
        );
        chart.render();
    });
</script>
		
{% endblock scripts %}