<form action="{% url 'addensamkor' E_ID%}" method="post">
    {% csrf_token %}   
<div class="card-body">   
        <h4 style="color:blue" id="davr"><B>Hisobot oralig'ini tanlang</B></h4>   
        <div class="col-12 col-xl-12" id="Ddavr">
            <div class="mb-3">
                <label class="form-label">Davrni tanlang</label>
                <input type="text" name="oraliq" class="form-control flatpickr-range" placeholder="Davrni tanlang..." {% if not esf.dan is None %}value="{{esf.dan|date:"Y-m-d"}} <<>> {{esf.gacha|date:"Y-m-d"}}" {% endif %}/>
            </div>                        
        </div>

        <div class="row" >        
        <h4 style="color:blue" id="birlik"><B>Hisobot shaklini tanlang</B></h4>   
        <div class="col-12 col-xl-4">
            <div class="col-md">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">
                            <input type="radio" name="shakl" value="oylik" {% if "oylik" in esf.shakl %}checked{% endif %}>
                        </div>
                        <a class="form-control" placeholder="Checkbox" disabled>oylik</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="col-md">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">
                            <input type="radio" name="shakl" value="choraklik" {% if "choraklik" in esf.shakl %}checked{% endif %}>
                        </div>
                        <a class="form-control" placeholder="Checkbox" disabled>choraklik</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="col-md">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">
                            <input type="radio" name="shakl" value="yillik" {% if "yillik" in esf.shakl %}checked{% endif %}>
                        </div>
                        <a class="form-control" placeholder="Checkbox" disabled>yillik</a>
                    </div>
                </div>
            </div>
        </div>
        <h4 style="color:blue" id="birlik"><B>Qo'shimcha birliklardan tanlang</B></h4>   
        <div class="col-12 col-xl-6">
            <div class="col-md">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">
                            <input type="checkbox" name="olchov" value="valyuta">
                        </div>
                        <select name="olchov" class="form-select" placeholder="Checkbox">
                            <option value="">tanlang ...</option> 
                            {% for i in valyuta %}
                                <option value="{{i.id}}">{{i.name}}</option>  
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="col-md">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">
                            <input type="checkbox" name="olchov" value="tshy"{% if "tshy" in esf.olchov %}checked{% endif %}>
                        </div>
                        <a class="form-control" placeholder="Checkbox" disabled>tshy</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="col-md">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">
                            <input type="checkbox" name="olchov" value="tne" {% if "tne" in esf.olchov %}checked{% endif %}>
                        </div>
                        <a class="form-control" placeholder="Checkbox" disabled>tne</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="col-md">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">
                            <input type="checkbox" name="olchov" value="kKal" {% if "kKal" in esf.olchov %}checked{% endif %}>
                        </div>
                        <a class="form-control" placeholder="Checkbox" disabled>kKal</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="col-md">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">
                            <input type="checkbox" name="olchov" value="GJ" {% if "GJ" in esf.olchov %}checked{% endif %}>
                        </div>
                        <a class="form-control" placeholder="Checkbox" disabled>GJ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-12">
        
        <button type="submit" class="btn btn-primary float-end">Qabul qilish</button> 
        

        </div>
    </div>         
</div>
</form>  