{% extends 'tarjimon/00_base.html' %}

{% block title %} {{titleown}} {% endblock title %}

{% block content %}

<div class="mb-3" id="dvtitle">
    <h2 class="h2 d-inline align-middle" style="color:blue">{{til}} </h2>
    <a href="{% url 'tarjima' til %}" class="btn btn-outline-warning float-end">Bekor qilish</a>
</div>

<form action="{% url 'tarjimoni' jumlalar.id til %}" method="post">
    {% csrf_token %}
<div class="row">  
    
   
    <div class="col-12 col-xl-12">
        <div class="card">                 
            <div class="card-body">
                <div class="mb-12 col-md-12">
                    <label class="form-label text_ray" for="" >Jumla:</label>
                    <textarea rows="3" type="text"
                        class="form-control" 
                        autofocus required="true"                                                             
                        name="jumla"
                        value = {{jumlalar.nomi}}>{{jumlalar.nomi}}</textarea>
                </div>
            </div>
            <div class="card-body">
                <div class="mb-12 col-md-12">
                    <label class="form-label text_ray" for="" >Tarjima:</label>
                    <textarea rows="3" type="text"
                        class="form-control" 
                        autofocus required="true"                                                             
                        name="tarjimasi"
                        value = {{tarjimasi.nomi}}>{{tarjimasi.nomi}}</textarea>
                </div>
            </div>


        </div>
        <button type="submit" class="btn btn-primary">Qabul qilish</button> 
    </div>   
    
</div>

</form>

{% endblock content %}

{% block scripts %}
<script>  
    $(function () {
        $("#title").click(function () {
            if ($(this).is(":checked")) {
                $("#dvtitle").hide();
                $("#dvtitle2").show();
                $("#div1").show();

            } else {
                $("#dvtitle").show();  
                $("#dvtitle2").hide();  
                $("#div1").hide();
            }
        });
    });
</script>  
{% endblock scripts %}