{% extends '04_minenergiya/00_base.html' %}
{% load static %}
<button class="btn btn-secondary" type="button">Go!</button>
{% block title %}{{titleown}}{% endblock title %}
{% block bar %}active{% endblock bar %}

{% block content %}
{% csrf_token %}
<div class="col-auto d-none d-sm-block">	
	<div class="row mb-3">		
			<div class="col-sm-1">		
				<img alt="EMBLEMA" src="{{korxona.emblem.url}}" class=" img-responsive mt-2" width="90" height="90" />
			</div>		
			<div class="col-sm-5">						
				<div class="col-sm-12"><h1><strong>{{korxona.nomi}} {{f1_fakt}}</strong></h1></div>				 
				<div class="col-sm-12"> <audio controls autoplay>
                    <source autoplay src="{{ttc_xabar}}" type="audio/ogg">                    
                    Sizning brauzeringiz audioni ochmaydi! Boshqa brauzerda urinib ko'ring!
                  </audio> </div>
			</div>
			<!--<div class="col-sm-6">						
				<textarea rows="1" type="text"
                                class="form-control" 
                                autofocus required="true"                                                             
                                name="manzil"
                                value = {{values.dbibt}}></textarea>
            
			</div>-->
	</div>
</div>
<div class="">		
	<div class="card-body text-center">
		<div class="row">
			<div class="col-12 col-lg-6">				
				<a class="btn btn-{{button1}}primary"  href="#">Taqdim etilgan ma'lumotlar</a>
				<a class="btn btn-{{button2}}primary" href="#">Yillik hisobot</a>			
				<a class="btn btn-{{button3}}primary"  href="#">Choraklik hisobot</a>
				<a class="btn btn-{{button4}}primary"  href="#">Oylik hisobot</a>
			</div>
		</div>		
	</div>
</div>
<div class="row">
	<div class="row">
	<div class="col-12 col-lg-6">		
	<h2>Umumiy ma'lumot</h2>
	</div>
	</div>	
	<div class="col-sm-6 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">Ma'lumot taqdim etilgan davr (plan/)</h5>
					</div>

					<div class="col-auto">
						<div class="stat text-primary">
							<i class="align-middle" data-feather="activity"></i>
						</div>
					</div>
				</div>
				<h1 class="mt-1 mb-3"><B>{{miqdor1}}</B></h1>				
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">{{m2}}</h5>
					</div>

					<div class="col-auto">
						<div class="stat text-primary">
							<i class="align-middle" data-feather="activity"></i>
						</div>
					</div>
				</div>
				<h1 class="mt-1 mb-3"><B>100</B> <sup style="color:green">%</sup></h1>				
			</div>
		</div>
	</div>	
	<div class="col-sm-6 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">{{m3}}</h5>
					</div>

					<div class="col-auto">
						<div class="stat text-primary">
							<i class="align-middle" data-feather="activity"></i>
						</div>
					</div>
				</div>
				<h1 class="mt-1 mb-3"><B>100</B> <sup style="color:green">%</sup></h1>				
			</div>
		</div>
	</div>
</div>
{% for i in res_f1 %}
<div class="row">
	<div class="row">
	<div class="col-12 col-lg-6">		
	<h2>{{i.resurs.nomi}}({{i.resurs.hajm}}{{i.resurs.birlik}})</h2>
	</div>
	</div>	
	<div class="col-sm-6 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">{{m1}}</h5>
					</div>

					<div class="col-auto">
						<div class="stat text-primary">
							<i class="align-middle" data-feather="activity"></i>
						</div>
					</div>
				</div>
				<h1 class="mt-1 mb-3"><B>{{miqdor1}}</B></h1>				
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">{{m2}}</h5>
					</div>

					<div class="col-auto">
						<div class="stat text-primary">
							<i class="align-middle" data-feather="activity"></i>
						</div>
					</div>
				</div>
				<h1 class="mt-1 mb-3"><B>100</B> <sup style="color:green">%</sup></h1>				
			</div>
		</div>
	</div>	
	<div class="col-sm-6 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">{{m3}}</h5>
					</div>

					<div class="col-auto">
						<div class="stat text-primary">
							<i class="align-middle" data-feather="activity"></i>
						</div>
					</div>
				</div>
				<h1 class="mt-1 mb-3"><B>100</B> <sup style="color:green">%</sup></h1>				
			</div>
		</div>
	</div>
</div>
{% endfor %}


{% endblock content %}

{% block scripts %}
<script>
	$(function() {

		var origTitle, animatedTitle, timer;
		
		function animateTitle(newTitle) {
		  var currentState = false;
		  origTitle = document.title;  // save original title
		  animatedTitle = origTitle+"EIS sistemasi " ;
		  timer = setInterval(startAnimation, 2000);
		
		  function startAnimation() {
			// animate between the original and the new title
			document.title = currentState ? origTitle : animatedTitle;
			currentState = !currentState;
		  }
		}
		
		function restoreTitle() {
		  clearInterval(timer);
		  document.title = origTitle; // restore original title
		}
		
		// Change page title on blur
		$(window).blur(function() {
			animateTitle();
		});
		
		// Change page title back on focus
		$(window).focus(function() {
			restoreTitle();
		});
		
		});
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Mixed chart
        
        var chart = new ApexCharts(
            document.querySelector("#apexcharts-mixed"), {
                chart: {
                    height: 350,
                    type: "line",
                    stacked: false,
                },
                stroke: {
                    width: [0, 2, 5],
                    curve: "smooth"
                },
                plotOptions: {
                    bar: {
                        columnWidth: "50%"
                    }
                },

                series: [
                {
                name: "Energiya resurs/mahsulot ishlab chiqarish",
                type: "column",
                data: [{% for k,v in obj_ich.items %} '{{v}}', {% endfor %}]
                }, {
                name: "Energiya resurs iste`mol qilish",
                type: "area",
                data: [{% for k,v in obj_ist.items %} '{{v}}', {% endfor %}]
                }, {
                name: "Energiya resurs/mahsulot uzatish/sotish",
                type: "line",
                data: [{% for k,v in obj_uzat.items %} '{{v}}', {% endfor %}]
                }
            
                ],

                fill: {
                    opacity: [0.85, 0.25, 1],
                    gradient: {
                        inverseColors: false,
                        shade: "light",
                        type: "vertical",
                        opacityFrom: 0.85,
                        opacityTo: 0.55,
                        stops: [0, 100, 100, 100]
                    }
                },
                labels: [{% for k,v in obj_ist.items %} '{{k}}', {% endfor %}
                ],
                markers: {
                    size: 0
                },
                xaxis: {
                    type: "datetime"
                },
                yaxis: {
                    title: {
                        text: "Mln.so'm",
                    },
                    min: 0
                },
                tooltip: {
                    shared: true,
                    intersect: false,
                    y: {
                        formatter: function(y) {
                            if (typeof y !== "undefined") {
                                return y.toFixed(0) + " mln.so`m";
                            }
                            return y;
                        }
                    }
                }
            }
        );
        chart.render();
    });
</script>
		
{% endblock scripts %}