{% extends '01_base_auth.html' %}
{% load static %}

{% block title %}Registratsya{% endblock title %}

{% block asosiy_qism %}
<div class="text-center mt-4">
	<h1 class="h2">Ro'yxatdan o'tish</h1>
	<p class="lead">
		Quyidagi ma'lumotlarni to'ldiring
	</p>
</div>

<div class="card">
	<div class="card-body">
		<div class="m-sm-4">
			<form action="{% url 'register' %}" method="post">
				{% csrf_token %}
				<div class="mb-3">
					<label class="form-label">Foydalanish nomi</label>
					<input class="form-control form-control-lg" 
					type="text" 
					name="username"
					id="usernameField"
					required
					placeholder="Ismingizni kiriting" 
					value="{{fieldValues.username}}"/>
				</div>
				<div class="invalid_feedback invalid-feedback" style="display:none">
				</div>
				<p class="text-sm text-success usernameSuccessOutput"></p>
				<div class="mb-3">
					<label class="form-label">STIR</label>
					<input class="form-control form-control-lg" 
					required
					type="number" 
					name="stir" 
					min="0"
					max="999999999"
					id="stirField"
					placeholder="INN ni kiriting"
					value="{{fieldValues.stir}}"/>
				</div>
				<div class="stirFeedBackArea invalid-feedback" style="display:none">
				</div>

				<div class="mb-3">
					<label class="form-label">Email</label>
					<input class="form-control form-control-lg" 
					type="email" 
					name="email" 
					autofocus required="true"
					id="emailField"
					placeholder="Emailingizni kiriting"
					value="{{fieldValues.email}}" />
				</div>
				<div class="emailFeedBackArea invalid-feedback" style="display:none">
				</div>

				<div class="col-12 mb-3">
						<label class="form-label">Parol</label>
						<input class="form-control form-control-lg"						
								autofocus required="true"
								type="password" 
								id="passwordField"
								name="password" 
								placeholder="Parolingizni kiriting"/>
					<i class="far fa-eye" id="togglePassword" style="cursor: pointer; position:absolute; top:56.5%; left:80%; color:blue;" ></i>
					<div class="passwordFeedBackArea invalid-feedback" style="display:none">
					</div>					
				</div>

				<div class="col-12 mb-3">
					{{captchaform.as_p}}
					</div>
		
				<div class="text-center mt-3">
					<!-- <a type="submit" href="https://id.gov.uz/cmn/LoginPage.do" class="btn btn-lg btn-primary">Ro'yxatdan o'tish/One ID orqali</a>-->
					<button type="submit" value="Register" class="btn btn-lg btn-primary submit-btn">Ro'yxatdan o'tish</button> 
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock asosiy_qism %}
