{% load static %}
<div class="card">
    <div class="card-body">
        <div class="m-sm-4">            
            <form action="{% url 'savolnoma' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="row">  
                        <div class="mb-3 col-md-10">
                            <label class="form-label text_ray" for="">Yuridik shaxs nomi</label>
                            <input type="number" 
                                class="form-control" 
                                autofocus required="true"
                                placeholder="Korxonangizni nomini kiriting"                              
                                name="dbibt"
                                value = {{values.dbibt}}>
                        </div>  
                        <div class="mb-3 col-md-2">
                            <div class="text-center">
                                <div class="mt-2">
                                    <label for="id_emblem" class="btn btn-primary"> <i class="fas fa-upload">Emb</i></label>
                                    <input type="file" id="id_emblem" name="emblem" accept="image/*" hidden>
                                </div>
                                <small>128px*128px .jpg</small>
                            </div>
                        </div> 
                        <div class="mb-3 col-md-6">
                            <label class="form-label text_ray" for="">Ish yurituvchi ismi</label>
                            <input type="number" 
                                class="form-control" 
                                autofocus required="true"
                                placeholder="Ismingizni kiriting"                              
                                name="dbibt"
                                value = {{values.dbibt}}>
                        </div>  
                        <div class="mb-3 col-md-6">
                            <label class="form-label text_ray" for="">Ish yurituvchi familyasi</label>
                            <input type="number" 
                                class="form-control" 
                                autofocus required="true"
                                placeholder="Familyangizni kiriting"                              
                                name="dbibt"
                                value = {{values.dbibt}}>
                        </div>  
                        <div class="mb-3 col-md-4">
                            <label class="form-label text_ray" for="">IFTUM kodi (ру: ОКЭД)</label>
                            <select class="form-select flex-grow-1"                                
                                id="id_viloyat"
                                name="tuman_viloyati">                                  
                                    <option value = {{v.viloyat_nomi}}>111</option>                                     
                            </select>  
                        </div> 
                        <div class="mb-3 col-md-4">
                            <label class="form-label text_ray" for="">DBIBT kodi (ру: СООГУ/ОКПО)</label>
                            <select class="form-select flex-grow-1"                                
                                id="id_viloyat"
                                name="tuman_viloyati">                                  
                                    <option value = {{v.viloyat_nomi}}>111</option>                                     
                            </select>  
                        </div> 
                        <div class="mb-3 col-md-4">
                            <label class="form-label text_ray" for="">THSHT kodi (ру: ОПФ)</label>
                            <select class="form-select flex-grow-1"                                
                                id="id_viloyat"
                                name="tuman_viloyati">                                  
                                    <option value = {{v.viloyat_nomi}}>111</option>                                     
                            </select>  
                        </div> 
                        <div class="mb-3 col-md-4">
                            <label class="form-label text_ray" for="">Yuridik shaxs mobil raqami :</label>
                            <input type="text" 
                                data-inputmask-mask="99-999-99-99"
                                class="form-control" 
                                autofocus required="true"                                                             
                                name="dbibt"
                                value = {{values.dbibt}}>
                            <spanclass="font-13 text-muted">Namuna: "99-999-99-99"</span>
                        </div>            
                    </div>					
                </div>                
                <div class="mb-3">
                    <label class="form-label text_ray">Joylashgan o'rni bo'yicha ma'lumotlar:</label>                    
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label class="form-label text_ray" for="">Davlat :</label>
                            <input type="number" 
                                class="form-control" 
                                autofocus required="true"                                                             
                                name="dbibt"
                                value = {{values.dbibt}}>
                        </div> 
                        <div class="mb-3 col-md-4">
                            <label class="form-label text_ray" for="">Viloyat/shahar :</label>
                            <input type="number" 
                                class="form-control" 
                                autofocus required="true"                                                             
                                name="dbibt"
                                value = {{values.dbibt}}>
                        </div> 
                        <div class="mb-3 col-md-4">
                            <label class="form-label text_ray" for="">tuman/shahar :</label>
                            <input type="number" 
                                class="form-control" 
                                autofocus required="true"                                                             
                                name="dbibt"
                                value = {{values.dbibt}}>
                        </div> 
                        <div class="mb-3 col-md-4">
                            <label class="form-label text_ray" for="">Manzil :</label>
                            <textarea rows="1" type="text" 
                                class="form-control" 
                                autofocus required="true"                                                             
                                name="dbibt"
                                value = {{values.dbibt}}></textarea>
                        </div>                   
                    </div>
                </div>
                
                <div class="text-center mt-3">					
                    <button type="submit" class="btn btn-lg btn-primary">Kirish</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>		
    // DataTables with Column Search by Select Inputs
    document.addEventListener("DOMContentLoaded", function() {
        $("#datatables-column-search-select-inputs").DataTable({
            initComplete: function() {
                this.api().columns().every(function() {
                    var column = this;
                    var select = $("<select class=\"form-control\"><option value=\"\"></option></select>")
                        .appendTo($(column.footer()).empty())
                        .on("change", function() {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            column
                                .search(val ? "^" + val + "$" : "", true, false)
                                .draw();
                        });
                    column.data().unique().sort().each(function(d, j) {
                        select.append("<option value=\"" + d + "\">" + d + "</option>")
                    });
                });
            }
        });
    });
</script>