{% load static %}
<div class="card">
    <div class="card-body">
        <div class="m-sm-4">            
            <form action="{% url 'savolnoma' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    
					<label class="form-label">1. Sizning korxonangiz energiya resurs/mahsulot ishlab chiqaradimi?</label>
                    <div class="row">
                        <div class="col-sm-6 col-xl-6">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <input type="radio" name="savol1"  value="True">
                                </div>
                                <input type="text" class="form-control" placeholder="HA" disabled>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-6">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <input type="radio" name="savol1"  value="False">
                                </div>
                                <input type="text" class="form-control" placeholder="Yo'q" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">2. Sizning korxonangizda energiya resurs uzatadimi/sotadimi?</label>
                    
                    <div class="row">
                        <div class="col-sm-6 col-xl-6">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <input type="radio" name="savol2" value="True">
                                </div>
                                <input type="text" class="form-control" placeholder="HA" disabled>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-6">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <input type="radio" name="savol2" value="False">
                                </div>
                                <input type="text" class="form-control" placeholder="YO`Q" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="text-center mt-3">					
                    <button type="submit" class="btn btn-lg btn-primary">Kirish</button>
                </div>
            </form>
        </div>
    </div>
</div>