{% extends 'base_application.html' %}
{% load static %}

{% block title %}
	Kirish
{% endblock title %}

{% block asosiy_qism %}

<div class="text-center mt-4">
	<h1 class="h2">EIS sistemasiga xush kelibsiz!!!</h1>	
	<p class="lead">
		EIS bilan barchasi oson!
	</p>
</div>
<form action="{% url 'savolnoma' %}" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="col-8">
			{% include '01_auth/06.02_application.html' %}
		</div>
		<div class="col-4">
			{% include '01_auth/06.01_savolcha.html' %}
		</div>	
	</div>
</form>
{% endblock asosiy_qism %}