{% extends 'base_auth.html' %}
{% block namepage %}
    EIS tizimiga registratsya qilish
{% endblock namepage %}

{% block content %}

<div class="input-group"> 
    <div class="input-group-prepend">
        <span class="input-group-text" id="fio">FIO</span>
      </div>   
    <input type="text" 
    class="form-control" 
    placeholder="Qurbonov Nurbek Nurullo o`gli" 
    aria-label="fio" 
    aria-describedby="fullname"
    id="fullname"
    >    
</div>

<div class="input-group">   
    <div class="input-group-prepend">
        <span class="input-group-text" id="STIR">STIR</span>
    </div>    
    <input type="text" 
    class="form-control" 
    placeholder="STIR" 
    aria-label="STIR" 
    aria-describedby="username"
    id="STIR"
    >    
</div>
<div class="input-group">   
    <div class="input-group-prepend">
        <span class="input-group-text" id="email"><i class="icons icon-email"></i></span>
      </div>    
    <input type="text" 
    class="form-control" 
    placeholder="email" 
    aria-label="email" 
    aria-describedby="email"
    id="email"
    >    
</div>

<div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="password"><i class="icons icon-password"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="parol" aria-label="parol" aria-describedby="password">
</div>

<div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="password"><i class="icons icon-password"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="parolni tasdiqlash" aria-label="parol" aria-describedby="password">
</div>

<div class="btn-group">
    <a href="#" class="btn btn-primary">Registratsya</a>
</div>
</form>

{% endblock content %}


