{% extends '04_minenergiya/00_base.html' %}
{% block title %} {{titleown}} {% endblock title %}

{% block barSam %}active{% endblock barSam%}

{% block content %}
{% csrf_token %}

<div class="mb-3">
    <h1 class="h3 d-inline align-middle">{{titleown}} {{res_for_add_show}}</h1>
</div>
<form action="{% url 'addbyshablon' bolim%}" method="post">
    {% csrf_token %}  
    <div class="row">     
        <div class="mb-3 col-12">
            <div class="card">        
                <div class="card-body">     
                    <div class="mb-3">  
                    <label class="form-label"> Hisobot nomi</label>
                                <input type="text"
                                        class="form-control" 
                                        autofocus required="true"
                                        name="nomi"
                                        placeholder="Masalan: Issiqlik elektr stansiyalari bo'yicha 2 yillik hisobot"
                                        value = {{nomi}}>
                    </div>
                </div>                    
            </div>         
                <button type="submit" class="btn btn-outline-info float-end">Keyingi  <i class="align-middle me-2" data-feather="skip-forward"></i></button>                  
        </div>
    </div>
</form>
{% endblock content %}

{% block scripts %}

<script>
    // Flatpickr
    flatpickr(".flatpickr-minimum");
    flatpickr(".flatpickr-datetime", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });
    flatpickr(".flatpickr-human", {
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
    });
    flatpickr(".flatpickr-multiple", {
        mode: "multiple",
        dateFormat: "Y-m-d"
    });
    flatpickr(".flatpickr-range", {
        mode: "range",
        dateFormat: "Y-m-d"
    });
    flatpickr(".flatpickr-time", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Choices.js
        new Choices(document.querySelector(".choices-single"));
        new Choices(document.querySelector(".choices-multiple"));
        // Flatpickr
        flatpickr(".flatpickr-minimum");
        flatpickr(".flatpickr-datetime", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        });
        flatpickr(".flatpickr-human", {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
        });
        flatpickr(".flatpickr-multiple", {
            mode: "multiple",
            dateFormat: "Y-m-d"
        });
        flatpickr(".flatpickr-range", {
            mode: "range",
            dateFormat: "Y-m-d"
        });
        flatpickr(".flatpickr-time", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
        });
    });
</script>

<script>    
    const checkbox = document.getElementById('barcha');
    const box = document.getElementById('box');
    checkbox.addEventListener('click', function handleClick() {
      if (checkbox.checked) {
        box.style.display = 'none';
      } else {
        box.style.display = 'block';
      }
    });
    
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        dragula([
            document.querySelector("#tasks-backlog"),
            document.querySelector("#tasks-progress"),
            document.querySelector("#tasks-completed")
        ]);
    });
</script>

<script>
    function show2(){
        document.getElementById('manzil').style.display = 'block';
      }
    function hide1(){
        document.getElementById('manzil').style.display = 'none';
      }
    function hide2(){
        document.getElementById('manzil').style.display = 'none';
      }
    function hide3(){
        document.getElementById('manzil').style.display = 'none';
      }
    
</script>
{% endblock scripts %}
