{% extends 'base.html' %}

{% block title %}
			Energiya iste'molchilari
		{% endblock title %} 

{% block sidebar %}
<li class="sidebar-item">
    <a class="sidebar-link" href="#">
<i class="align-middle" data-feather="home"></i> <span class="align-middle">Bosh sahifa</span>
</a>
</li>

<li class="sidebar-item">
    <a class="sidebar-link" href="#">
<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profil</span>
</a>
</li>           

<li class="sidebar-header">
    Ma'lumotlar kiritish
</li>           

<li class="sidebar-item">
    <a class="sidebar-link" href="#">
<i class="align-middle" data-feather="slack"></i> <span class="align-middle">Bino va inshootlar</span>
</a>
</li>  
<li class="sidebar-item">
    <a class="sidebar-link" href="#">
<i class="align-middle" data-feather="layers"></i> <span class="align-middle">Davriy ma'lumotlar</span>
</a>
</li>               

<li class="sidebar-header">
    Hisobotlar
</li>

<li class="sidebar-item">
    <a class="sidebar-link" href="#">
<i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Davriy hisobotlar tayyorlash</span>
</a>
</li>

<li class="sidebar-item">
    <a class="sidebar-link" href="#">
<i class="align-middle" data-feather="trending-up"></i> <span class="align-middle">Bashoratlash</span>
</a>
</li>

<li class="sidebar-item">
    <a class="sidebar-link" href="#">
<i class="align-middle" data-feather="percent"></i> <span class="align-middle">Energiya balansi</span>
</a>
</li>
{% endblock %}